<header id="headerAdmin">
            <nav class="navbar navbar-expand-sm navbar-expand-xl   thanhNen">
                <a class="navbar-brand logoNen" href="/Staff"><i class="fas fa-book-reader"></i>Tân Phước</a>
                <ul class="navbar-nav ml-auto dsThanhNen">
                    <li class="nav-item "><a href="/" class="dslist">Trang chủ</a></li>
                    <li class="nav-item"><p  class="dslist">Xin chào {{header}}</p></li>
                    <li class="nav-item"><a href="/Signin" class="dslist">Đăng Xuất</a></li>
                </ul>
            </nav>
        </header>