
    <section id="mainAdmin">
        <div class="container" style="margin-top : 50px">
            <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="row">
                        <div class="col">
                            <p><i class="fas fa-bars"></i>Tùy chọn</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/Staff" >Thông tin chi tiết</a> </li>
                                <li class="list-group-item"><a href="/ChangePassWord" style="color: Black;" >Đổi Mật Khẩu</a> </li>
                                <li class="list-group-item"><a href="/Sign_up_ThanhVien" >Đăng ký Thành viên</a> </li>
                                <li class="list-group-item"><a href="/NhapSach">Nhập sách</a> </li>
                                <li class="list-group-item"><a href="/XoaSach">Chỉnh sửa sách</a> </li>
                                <li class="list-group-item"><a href="/Account" >Chỉnh sửa độc giả</a> </li>
                                <li class="list-group-item"><a href="/DangKyMuonSach">Đăng ký mượn sách</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        
                    {{#if message}}
                            <div class="alert {{messageclass}}"> {{message}}</div>
                    {{/if}}
                    <form class="formDkyTV" action="http://localhost:5000/ChangePassWord" method="POST" >
                        <div class="form-group">
                                <label for="exampleInputPassword1">Mật Khẩu Cũ</label>
                                <input type="password" name="oldpass" class="form-control" id="exampleInputPassword1" >
                        </div>
                        <div class="form-group ">
                                <label for="exampleInputPassword1">Mật Khẩu Mới</label>
                                <input type="password" name="newpass" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group ">
                                <label for="exampleInputPassword1">Xác Nhận Mật Khẩu Mới</label>
                                <input type="password" name="checknewpass" class="form-control" id="exampleInputPassword1">
                        </div>

                        <button type="submit" class="btn btn-primary float-right">Đổi Mật Khẩu</button>
                    
                    </form>
                </div>
            </div>
        </div>
    </section>